
.content{
    width: 816px;

    display: flex;
    flex-direction: column;
    justify-content: center;   

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        font-size: 1.2rem;
        color: var(--gray-300);

        text-align: center;

        span {
            color: var(--green);
            text-transform: uppercase;

            font-weight: 700;
        }        

    }

    .nameList {       

        margin: 50px auto 20px;
        width: 500px;
        
        .formNames {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;            
        
    
            .inputGroup {   

                width: 100%; 
                position: relative;

                margin-top: 50px;
                
                input {

                    width: 100%;

                    background: var(--withe);
                    border: 1px solid var(--blue-300);
                    color: var(--gray-300);
                    padding: 16px 24px;

                    text-align: center;
                    
                    border-radius: 50px;
                    
                    &::placeholder {
                        color: var(--blue-100)
                    }
                }
            
                button {
                    font-weight: 600;
                    border-radius: 50px;
                    border: 0;
                    background: var(--green);
                    color: var(--withe);
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    position: absolute;
                    right: 0;
                    top: -5px;
            
                    padding: 24px;
                    transition: filter 0.2s;
            
                    &:hover {
                        filter: brightness(0.95);
                    }
                    
                }
            }
        }
  
        .showListNames {
            margin: 20px 0;  

        
            ul {
                list-style: none;
                background: var(--withe);                  
                padding: 0 0 0 10px;
            
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #EBEBEB;
            
                    div {
                        display: flex;
                        align-items: center;
                        gap: 14px;
                        outline: 0;
            
                        p {
                            font-size: 1rem;
                            color: var(--text);
                        }
            
                    }
                }
        
                button {
                    background: var(--red);
                    border: 0;
                    
                    width: 50px;
                    height: 50px;

                    padding: 8px;
        
                    svg {
                        color: var(--withe);
                    }
        
                    &:hover {                       
                        filter: brightness(0.8)
                    }
                }
            }
        } 
        
    }

    
    .enable{
        button {
            background: var(--blue-300);
    
            width: 100%;
        
            border-radius: 50px;
            border: 0;
        
            transition: filter 0.2s;

            display: flex;
            justify-content: center;
            align-items: center;

            
            p {
                color: var(--withe);
                text-transform: uppercase;
        
                text-align: center;
        
                padding: 18px 0;

                margin-left: 10px;
            }
        
            &:hover {
                filter: brightness(0.9);
            }
        }        
    }

    .disable{
        button {
            background: var(--gray-100);
    
            width: 100%;
        
            border-radius: 50px;
            border: 0;
        
            cursor: no-drop;

            display: flex;
            justify-content: center;
            align-items: center;
        
            p {
                color: var(--withe);
                text-transform: uppercase;
        
                text-align: center;        
                padding: 18px 0;

                margin-left: 10px;
            }
        
        }        
    }
    
}      

@media (max-width: 720px) {

    .content {
        width: 100%;

        .nameList { 
            margin: 50px 0 10px;
            width: 100%;
        }
    }
}