.content{
    width: 816px;



    .groupItensList {
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        justify-content: center;

        margin: 20px 0;
        

        .itensList {
            background: var(--withe);

            width: 230px;
            padding: 20px;

            text-align: center;
            border-radius: 20px;

            border: 1px solid var(--blue-300);

            
            img {
                width: 150px;
            }


            .giftTitle{
                height: 85px;
                margin-top: 20px;

                p {
                    color: var(--gray-300);
                    font-size: 1.1rem;

                    line-height: 1.3;
                }
            }

            .price {
                color: var(--blue-300);

                border-top: 1px solid var(--blue-300);
                border-bottom: 1px solid var(--blue-300);

                padding: 5px;

                margin: 20px 0 ;
            }

            button {
                background: var(--blue-300);
        
                width: 100%;
            
                border-radius: 50px;
                border: 0;
            
                transition: filter 0.2s;
    
                display: flex;
                justify-content: center;
                align-items: center;
            
                p {
                    color: var(--withe);
                    text-transform: uppercase;
            
                    text-align: center;
            
                    padding: 18px 0;
    
                    margin-left: 10px;
                }
            
                &:hover {
                    filter: brightness(0.9);
                }
            }    
            
        }

    }
}

@media (max-width: 1000px) {

    .content {
        width: 100%;

        .groupItensList {
        
            display: grid;
            grid-template-columns: repeat(3, auto);   
            
            margin-top: 50px;

        }
    }
}

@media (max-width: 720px) {

    .content {
        width: 100%;

        .groupItensList {
        
            display: grid;
            grid-template-columns: repeat(2, auto);   
            
            margin-top: 50px;

        }
    }
}


@media (max-width: 480px) {

    .content {
        width: 100%;

        .groupItensList {
        
            display: grid;
            grid-template-columns: auto;

            margin-top: 50px;

            .itensList {
                width: 100%;

                img {
                    width: 150px;
                }

                .giftTitle{
                    margin-top: 5px;  
                    height: auto;
                }
    
                .price {
                    margin: 20px 0;
                }
    
            }
        }
    }
}