.content{
    width: 816px;

    .groupItensList {
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        justify-content: center;

        margin-bottom: 20px;
        

        .itensList {
            background: var(--withe);

            width: 268px;
            padding: 30px;

            text-align: center;
            border-radius: 50px;

            border: 1px solid var(--blue-300);

            
            img {
                width: 200px;
            }


            .giftTitle{
                height: 85px;
                margin-top: 20px;

                p {
                    color: var(--gray-300);
                    font-size: 1.1rem;
                }
            }

            .amount {
                color: var(--blue-300);

                border-top: 1px solid var(--blue-300);
                border-bottom: 1px solid var(--blue-300);

                padding: 5px;

                margin: 20px 0 ;
            }

            button {
                background: var(--blue-300);
        
                width: 100%;
            
                border-radius: 50px;
                border: 0;
            
                transition: filter 0.2s;
    
                display: flex;
                justify-content: center;
                align-items: center;
            
                p {
                    color: var(--withe);
                    text-transform: uppercase;
            
                    text-align: center;
            
                    padding: 18px 0;
    
                    margin-left: 10px;
                }
            
                &:hover {
                    filter: brightness(0.9);
                }
            }    
            
        }

    }
}

@media (max-width: 1080px) {

    .content {
        width: 100%;

        .groupItensList {
        
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


@media (max-width: 720px) {

    .content {
        width: 100%;

        .groupItensList {
        
            display: grid;
            grid-template-columns: auto;

            margin-top: 50px;
        }
    }
}