.content{
    width: 816px;


    .groupButtons {
        margin: 10rem auto 0;
        width: 500px;

        display: flex;
        flex-direction: column;
        justify-content: center;


        a{
            display: flex;
            justify-content: center;
            align-items: center;            
        
            transition: filter 0.2s; 

            &.whatsapp {                
                background: var(--green);
                width: 100%;
                border-radius: 50px;                
            }

            p {
                padding: 18px 0;
                font-size: 1rem;

                margin-left: 10px;

                color: var(--withe);
                text-transform: uppercase;
            }

            &:hover {
                filter: brightness(0.9);
            } 

        }        

    }
        
}

@media (max-width: 720px) {

    .content {
        width: 100%;

        .groupButtons {
            width: 100%;  
            margin-top: 5rem;          
        }

    }
}