:root {
    --background: #E9F5FF;

    --withe: #fff;
    --red: #CB6E6E;
    --green: #74B582;

    --gray-100: #DFDFDF;
    --gray-300: #626262;

    --blue-100: #A8CFE7;
    --blue-300: #6EA9CB;
    
    --shadow: rgba(158, 211, 241, 0.658);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);    
    color: var(--gray-300);
}

body, input, textarea, select, button {
    font: 400 1rem "Roboto", sans-serif;
}

button {
    cursor: pointer;    
}

a {
    text-decoration: none;
}

.container {
    width: 80%;

    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }

    .container {
        width: 100%;

        padding: 0 30px;
    }
}


.react-modal-overlay {
    background: rgba(0,0,0,0.5);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.react-modal-content {
    width: 100%;
    max-width: 576px;
    position: relative;
    border-radius: 0.24rem;

    img {
        width: 100%;
    }
}

.react-modal-close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    border: 0;
    background: transparent; 

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }
}



